body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .topnav-navitems a {
    float: none;
    width: -webkit-fill-available;
  }
}

/* Small devices (portrait tablets and large phones, 600px to 786px) */
@media only screen and (min-width: 601px) and (max-width: 786px) {
  .topnav-navitems a {
    float: none;
    width: -webkit-fill-available;
  }

	.column-container {
		width: 100%;
	}
}

/* Medium devices (landscape tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
	.column-container {
		width: 50%;
	}

	.topnav-button {
		display: none;
	}
}

/* Large devices (laptops/desktops, 992px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	.column-container {
		width: 33.3%;
	}

	.topnav-button {
		display: none;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1201px) {
	.topnav-button {
		display: none;
	}
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav-button {
	float: right;
}

.topnav-button button {
	background-color: rgba(51, 51, 51, 1);
	border-radius: 8px;
	border-color: white;
	margin: 0.5rem 0.5rem;
	width: 3.25rem;
	height: 3.25rem;
}

.topnav-navitems a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

.topnav-navitems a:hover {
  background-color: #111;
}

.column-container {
	float: left;
	width: 25%;
}