---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout title="404" description="Page Not Found!">
  <img
    src="/road-work-ahead-vine.gif"
    alt="road-work-ahead-vine.gif"
  />
  <h1>Unfortunately, the road ahead did not work</h1>
</MainLayout>
