<div class="text-left mt-6 md:mt-0 md:mb-12">
  <div class="flex flex-col items-center md:flex-row">
    <div class="flex justify-center items-center w-full mx-auto">
      <div class="w-full md:w-2/3 md:pl-8">
        <div class="max-w-2xl space-y-2 bg-white rounded-lg shadow-sm p-7 border border-black border-opacity-10">
          <slot />
        </div>
      </div>
    </div>
    <div
      class="absolute flex items-center justify-center left-1/2 w-8 h-8 -translate-y-4 transform -translate-x-1/2 rounded-full bg-white border-4 border-black border-opacity-50 md:left-[16%] md:translate-y-0"
    >
    </div>
  </div>
</div>
