<div class="relative antialiased text-sm font-semibold">
  <div
    class="hidden absolute left-[16%] h-full w-1 transform -translate-x-1/2 bg-black bg-opacity-50 md:block"
  >
  </div>

  <slot />
</div>
